.home-page {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.logo-home {
  position: absolute;
  width: 5%;
  left: 1%;
}

.get-started, .about-us, .preferences {
  position: relative;
  display: inline-block;
  left: 10%;
  padding-top: 10px;
  padding-right: 60px;
}

.get-started:hover, .about-us:hover, .preferences:hover {
  text-decoration: underline; 
}

.menu-home {
  position: absolute;
  width: 3%;
  right: 2%;
  top: 2%;
}

.inner-block {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 75%;
  left: 10%;
  top: 18%;
}

.title-home {
  position: absolute;
  color: #46242D;
  top: 0%;
  left: 23%;
  font-size: 9.0rem;
  margin: 0;
}

.line-home {
  position: absolute;
  background-color: #46242D;
  height: 2%;
  top: 3%;
  left: 22%;
}

.home-page-image {
  position: absolute;
  top: 29%;
  left: 13%;
  width: 75%;
  height: 66%;
}